# DataScience Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

Datascience tools:

| Datascience tools|
|---|
|Apache Spark|
|BigML|
|SAS|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [8]:
minutes=200
hours=200/60
hours

3.3333333333333335

# Objectives

popular languages for Data Science:


- Python 
- R 
- SQL 
- Java 
- Julia

## Authors:

PRATHAP M